.blog{
    background: url("../Blog/blogBackground.jpg");
    background-size: cover;
    color: white;
    display: flex;
    background-color: rgba(255, 255, 255, 0.307);
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}
